### OSX ###
.DS_Store
Thumbs.db

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php

### Composer ###
vendor/

### Intellij ###
*.iml
.idea/

### Vagrant ###
.vagrant/

### Python ###
*.pyc

### SSH Key ###
id_rsa*

### NetBeans ###
/nbproject/