language: php

php:
  - 5.6

before_script:
  - mysql -uroot -e "GRANT ALL PRIVILEGES ON *.* TO travis_user@localhost IDENTIFIED BY 'travis_password' WITH GRANT OPTION;FLUSH PRIVILEGES;"
  - mysql -utravis_user -ptravis_password -e "CREATE DATABASE travis_db CHARACTER SET utf8mb4;"
  - cd src/
  - composer self-update
  - composer install
  - composer require satooshi/php-coveralls:dev-master --dev
  - chmod -R 777 storage
  - cp .env.travis .env

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - cat storage/logs/*
  #- vendor/bin/coveralls -v -c .coveralls.yml
