[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

symbolic-links=0

# MySQL固有の設定は極力使わない
# sql_mode=TRADITIONAL, IGNORE_SPACE, PIPES_AS_CONCAT, ANSI_QUOTES

# 文字コード設定
character-set-server=%(charset)s
collation-server=%(collation)s

# ストレージエンジンは原則InnoDBに固定
default-storage-engine = InnoDB

# DNSサーバによる名前解決を行わない
skip-name-resolve

# TCP/IP接続を使用しない（ソケット接続のみ）
skip-networking

# InnoDBのデータをテーブルごとに作成
innodb_file_per_table

# この値を大きくするとファイルへの書き込みを遅らせられる（ディスクI/O削減によるパフォーマンス向上が見込める）
innodb_log_file_size = 128M

# トランザクション分離レベルの設定
# 事実上の業界標準であるREAD COMMITTEDに設定する
# READ COMMITTEDでは、コミットされた瞬間、別のトランザクションでもコミットされた値が読み込まれる
transaction-isolation = READ-COMMITTED


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set=%(charset)s

[client]
default-character-set=%(charset)s

[mysqldump]
default-character-set=%(charset)s

